<li>
  <p class="topic-post-count"><%= topic.posts.length %></p>
  <%= link_to topic.name, "~#{topic.section}/#{topic.sub_id}", class: 'topic-title' %>
  <div class="topic-info">
    <p><%= time_ago(topic) %></p>
    <%= link_to '~'+topic.section, '~'+topic.section %>
    <br />
  </div>
</li>
