<div id="navigation">
  <a id="section" href="/~"><%= page_section %></a>
  <div id="sort"><a id="popular" class="current" href="?sort=popular">Popular</a> / <a id="fresh" href="?sort=fresh">Fresh</a></div>
  <br />
</div>

<ul id="topics">
  <%= render @topics %>
</ul>

<%= will_paginate %>
