<% cache("topics_view_#{params[:section]}_#{params[:page]}_#{params[:sort]}_#{Topic.count}", expires_in: 1.minute) do %>
  <nav class="topic-links">
    <a id="section" href="/~"><%= page_section %></a>
    <div id="sort"><a id="popular" <% if params[:sort] != 'fresh' %>class="current" <% end %>href="?sort=popular">Popular</a> / <a id="fresh" <% if params[:sort] == 'fresh' %>class="current" <% end %>href="?sort=fresh">Fresh</a></div>
    <br />
  </nav>

  <ul id="topics">
    <%= render @topics %>
  </ul>
    
  <%= paginate @topics, window: 0 %>

  <nav class="topic-links"><a id="new-topic" href=<% if params[:section] %>"~<%= params[:section] %>/new" <% else %>"new"<% end %>>New topic</a></nav>
<% end %>
