<% cache("topic_view_#{@topic.id}_#{@topic.updated_at}", expires_in: 1.minute) do %>
  <h1 id="topic-heading"><%= @topic.name %></h1><%= link_to '~'+@topic.section, '/~'+@topic.section %>
  <ul class="post-list root-post-list"><%= render partial: 'post_item', object: @topic.posts.where(sub_id: 0).first, locals: { zero: true } %><%= render partial: 'post_item', collection: other_posts_freshest_first(@topic) %></ul>
<% end %>
