$gray: #AAA;

#topic {
  font-size: 1.2em;
}

#parent-post {
  margin-top: 1em;
}

.post-text {
  line-height: 1.4em;

  p {
    margin-bottom: .8em;
  }

  ul {
    margin-left: 2em;
    list-style-type: square;

    li { margin-top: 0; }
  }
}

.post-info {
  font-size: .9em;
  margin-top: -.25em;

  .poster-id {
    font-weight: bold;
    float: left;
    margin-right: 0.5em;
  }

  .post-time {
    color: $gray;
  }
}

#new_post {
  margin-top: 1em;
}
