$gray: #AAA;
$darkgray: #999;

#navigation {
  padding-bottom: 1em;
  font-size: 1.4em;
  #section { float: left; }
  #sort { float: right; }
  .current { font-weight: bold; }
}

#topics {
  list-style: none;

  li {
    padding-bottom: 1.2em;

    .topic-post-count {
      float: left;
      width: 2em;
      border: 1px solid black;
      margin-right: .5em;
      text-align: center;
    }

    .topic-title {
      font-size: 1.2em;
    }

    .topic-info {
      padding-top: .5em;

      p {
        float: left;
        color: $gray;
      }

      a {
        float: right;
      }

      br {
        clear: both;
      }
    }
  }
}

form {
  input, textarea { 
    display: block; 
    margin-bottom: .5em;
  }
  textarea { height: 7em; }
  span {
    float: left;
    padding-top: .2em;
    padding-right: .2em;
  }
}

#new-topic {
  font-size: 1.4em;
  margin-top: 1em;
}

#topic-heading {
  font-size: 1.2em;
  display: inline;
  margin-right: .2em;
}

.post-list {
  padding-left: 1em;
  list-style: none;

  hr { border-color: $gray; }

  li {
    margin-top: 1em;


    .post-links {
      font-size: .9em;
      margin-top: .5em;

      a {
        color: $darkgray;
        margin-right: .1em;
      }
    }
  }
}

.root-post-list {
  padding-left: 0;
}
