$gray: #AAA;
$darkgray: #999;

.topic-links {
  font-size: 1.4em;
  #section { float: left; }
  #sort { float: right; }
  .current { font-weight: bold; }
}

#topics {
  margin-top: 1.4em;
  list-style: none;

  .topic {
    padding-bottom: 1.2em;

    .reply-count {
      float: left;
      min-width: 2em;
      border: 1px solid black;
      margin-right: .5em;
      text-align: center;
    }

    .name {
      font-size: 1.2em;
    }

    .info {
      padding-top: .5em;

      p {
        float: left;
        color: $gray;
      }

      a {
        float: right;
      }

      br {
        clear: both;
      }
    }
  }
}

form {
  input, textarea { 
    display: block; 
    margin-bottom: .5em;
  }

  textarea { 
    height: 7em;
  }

  input[type="text"], input[type="password"], textarea {
    min-width: 240px;
  }

  span {
    float: left;
    padding-top: .2em;
    padding-right: .2em;
  }

  .optional {
    color: $gray;
  }

  input.optional, textarea.optional {
    border-color: $gray;
    color: $darkgray;
  }
}

#topic-heading {
  font-size: 1.2em;
  display: inline;
  margin-right: .2em;
}

.post-list {
  padding-left: 1.5em;
  list-style: none;

  hr { border-color: $gray; }

  li {
    margin-top: 1em;

  }
}

.root-post-list {
  padding-left: 0;
}

#pagination {
  font-size: 1.1em;
  margin-bottom: 1em;

  .current {
    font-weight: bold;
    margin: .5em;
  }

  .prev, .next {
    color: $gray;
  }
}
