<footer>
    <div id="copyright">Content under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a> unless noted otherwise.</div>
    <nav id="footer-links"><a href="/about">about</a> | <a href="/markup">markup</a> | <a href="/code">code</a></nav>
</footer>
